<a href="https://colab.research.google.com/github/sak1b0/Thesis/blob/master/LabelEncoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

url='https://raw.githubusercontent.com/sak1b0/Thesis/master/allCSV/automobile.csv'

#dataframe hisebe read hocche
df=pd.read_csv(url,header=None,nrows=3)

#testing block start
print(df.values)

#kun kun column k encode korbo sheita ber kortesi
my_arr=[]
#colum er index er track rakhte 
index=0
print(df.dtypes)

for item in df.dtypes:
  if(item=='object'):
    my_arr.append(index)
  index=index+1

print(my_arr)
df=df.values
print('\n============ after encoding =============\n')

#hot=OneHotEncoder(column_transformer=[0])
#df=hot.fit_transform(df).toarray()
lbl=LabelEncoder()
for item in my_arr:
  df[:,item] = lbl.fit_transform(df[:,item])

print(df)


#testing block end

[[168.0 'toyota' 'gas' 'std' 'two' 'sedan' 'rwd' 'front' 94.5 168.7 64.0
  52.6 2169.0 'ohc' 'four' 98.0 '2bbl' 3.19 3.03 9.0 70.0 4800.0 29.0
  34.0 8058.0 1]
 [113.0 'mazda' 'gas' 'std' 'four' 'sedan' 'fwd' 'front' 93.1 166.8 64.2
  54.1 1950.0 'ohc' 'four' 91.0 '2bbl' 3.08 3.15 9.0 68.0 5000.0 31.0
  38.0 7395.0 1]
 [87.0 'toyota' 'gas' 'std' 'two' 'hatchback' 'fwd' 'front' 95.7 158.7
  63.6 54.5 1985.0 'ohc' 'four' 92.0 '2bbl' 3.05 3.03 9.0 62.0 4800.0
  35.0 39.0 5348.0 1]]
0     float64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8     float64
9     float64
10    float64
11    float64
12    float64
13     object
14     object
15    float64
16     object
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25      int64
dtype: object
[1, 2, 3, 4, 5, 6, 7, 13, 14, 16]

============ after encoding =============

[[168.0 1 0 0 1 1 1 0 94.5 168.7 64.0 52.6 2169.0 0 0 98.0 0 3.19 3.03
  9.0 70.0 4800.0 29.0 34.0 8058.0 1]
 [113.0 0 0 0 0 1 0 0 93.1 166.8 64.2 54.1 1950.0 0 0 91.0 0 3.08 3.15
  9.0 68.0 5000.0 31.0 38.0 7395.0 1]
 [87.0 1 0 0 1 0 0 0 95.7 158.7 63.6 54.5 1985.0 0 0 92.0 0 3.05 3.03 9.0
  62.0 4800.0 35.0 39.0 5348.0 1]]